<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aohua"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/AppTheme"
        >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity1"
            android:windowSoftInputMode="adjustPan">           
        </activity>
        <activity android:name=".HomeActivity"
            	  android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ShowoderActivity"></activity>
        <activity android:name=".OrderdetailsActivity"></activity>
        <activity android:name=".OrderdetailsActivity1"></activity>
        <activity android:name=".AddActivity"></activity>
        <activity android:name=".AddorderActivity"></activity>
        <activity android:name=".AdddetailsActivity"></activity>
        <activity android:name=".AddorderActivity1"></activity>
        <activity android:name=".AdddetailsActivity1"></activity>
        <activity android:name=".UserActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".UserdetailsActivity"></activity>
    </application>

</manifest>
